@font-face {
  font-family: "SourceSansProLight";
  src: url("./fonts/SourceSansPro-Light.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("./fonts/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "Javatext";
  src: url("./fonts/javatext.ttf"); }

body {
  margin: 0;
  padding: 0;
  background-color: #232328;
  color: #FFF6F0;
  overflow-x: hidden;
  font-family: "SourceSansProLight"; }

a {
  text-decoration: none;
  color: #f7c8a8; }
  a:active {
    color: #fca063; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "SourceSansPro"; }

#header {
  padding: 0 30px;
  margin: 16px 130px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: #232328;
  -webkit-user-select: none;
  user-select: none; }
  #header ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none; }
  #header a {
    font-size: 2rem;
    padding: 0 24px;
    cursor: pointer;
    font-family: "SourceSansPro"; }
  #header #title {
    padding: 0;
    margin: 0;
    font-family: "Javatext", serif;
    font-size: 4rem;
    color: #FF7D1A;
    display: inline;
    font-weight: lighter; }
  @media only screen and (max-width: 1000px) {
    #header ul {
      display: none; }
    #header {
      justify-content: center; } }

.container {
  position: relative;
  width: 85vw;
  height: 100%;
  margin: auto;
  background-color: #232328; }
  @media (max-width: 1000px) {
    .container {
      width: 95vw; } }

#who .content {
  position: absolute;
  left: 340px;
  top: 90px; }
  #who .content h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0; }
  #who .content ul {
    position: relative;
    left: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5rem; }
